[Desktop Entry]
Encoding=UTF-8
Name=Link to c - Can Pipes in UNIX work bi-directionally? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/8390799/can-pipes-in-unix-work-bi-directionally
Icon=text-html
